.shopping-cart {
  max-width: 900px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0 0 0.5rem 0;
}

.products,
.cart-items,
.coupon-section,
.cart-summary {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #1e1e1e;
  border-radius: 8px;
}

/* Grid cho products */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #2a2a2a;
  border-radius: 8px;
  text-align: center;
}

.product-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

button {
  background-color: #3a3a3a;
  color: #e0e0e0;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 0.5rem;
}

button:hover {
  background-color: #505050;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  border-bottom: 1px solid #333;
}

.cart-item:last-child {
  border-bottom: none;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantity-controls button {
  width: 30px;
  height: 30px;
  border: 1px solid #FFFFFF30;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-btn {
  background-color: #b00020;
}

.remove-btn:hover {
  background-color: #c32f2f;
}

.coupon-section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.coupon-input {
  display: flex;
  gap: 1rem;

}

.applied-coupon {
  text-align: left;
}

.applied-coupon button {
  margin: 0 10px;
  background-color: #c32f2f;
}

.coupon-section input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: #2c2c2c;
  color: #e0e0e0;
}

.cart-summary .summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.cart-summary .total {
  font-weight: bold;
  font-size: 1.1rem;
}

.checkout-btn {
  width: 100%;
  margin-top: 1rem;
  background-color: #007acc;
}

.checkout-btn:hover {
  background-color: #0094ff;
}